@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 198, 252);
    margin: 0 auto;
    width: 100%;
}
ol,ul,li{
    /*列表标签清除样式*/
    list-style-type: none;
}
a{
    /*a连接设置样式*/
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


/*导航栏*/
header{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    background: white;
}
header>ul>li>a:hover{
    color: rgb(179, 126, 178);
}
header>img{
    height: 50px;
    width: 150px;
}
header>ul{
    margin-left: 320px;
    width: 900px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header>ul>li{
    display: block;
    padding: 0 30px;
    height: 50px;
    z-index: 1  ;
}
header>ul>li:nth-child(4){
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
header>ul>li:nth-child(4):hover{
    color: rgb(179, 126, 178);
}
header>ul>li:nth-child(4)>.hidden{
    height: 0;
    overflow: hidden;
    transition: all .5s linear;
    background: rgba(255, 255, 255, 0.5);
}
header>ul>li:nth-child(4)>.hidden>li{
    height: 45px;
}
header>ul>li:nth-child(4):hover>.hidden{
    height: 135px;
}

header>ul>li:nth-child(4)>ul>li>a:hover{
    color: rgb(179, 126, 178);
}
header>ul>li:nth-child(4)>ul>li:hover{
    background-color: rgb(255, 255, 255);
}
header>.search{
    margin-left: 10px;
    margin-right: 0;
    width: 400px;
    height: 50px;
    float: left;
}
header>.search>input{
    width: 400px;
    height: 40px;
    border: 2px solid rgb(228, 180, 237);
    border-right: 0;
    padding-left: 100px;
    color: gray;
    font-size: 13px;
}
.search>input:focus{
    outline: medium;  
}
.search>button{
    width: 10%;
    height: 1px;
    margin-top: 10px;
    float:left;
}


/*轮播图样式部分*/
section{
    width: 1300px;
    height: 400px;
    margin: 0 auto;
}
section>ul{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    perspective:4000px;
}
section>ul>li{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s linear;
    cursor: pointer;
}
section>ul>li>img{
    width: 100%;
    height: 100%;
}

/*mian*/
main{
    margin: 0 auto;
    background-color: rgb(227, 222, 222,0.7);
    width: 90%;
}
/*top*/
main>.top{
    width: 80%;
    margin: 0 auto;
    height: 250px;
}
main>.top>ul{
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -15px;
    margin-left: 50px;
}
main>.top>ul>li{
    width: 30%;
    height: 100%;
    display: inline-block;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}
main>.top>ul>li>a>img{
    width:250px;
    margin: auto;
}
main>.top>ul>li>a:hover>img{
    transform: scale(1.1,1.1);
}
/*first*/
main>.first{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main>.first>h2{
    border-left: solid 10px rgb(247, 181, 244);
    color: #353535;
    text-indent: 1em;
    cursor: default;
    font-size: 24px;
}
main>.first>div{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 20px;
    margin-top: 10px;
    overflow: hidden;
}
main>.first>div>img{
    width:30%;
    height: 100%;
    float:left;
    margin: auto;
}
main>.first>div>div{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    background:rgb(255, 198, 252);
}
main>.first>div>div>p{
    height: 25%;
    width: 90%;
    margin-top: 10px;
    margin-left: 100px;
    justify-content: center;
    /*text-indent: 2em;*/
    color: black;
    font-size: 20px;
    /*margin-bottom: 10px;*/
    /*font-weight: bold;*/
    font-style: italic;
    cursor: default;
}

/*last*/
main>.last{
    width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
main>.last>h2{
    width: 80%;
    border-left: solid 10px rgb(247, 181, 244);
    color: #353535;
    text-indent: 1em;
    cursor: default;
    margin: 0 auto;
    font-size: 24px;
}
main>.last>ul{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main>.last>ul>li{
    width: 250px;
    height: 250px;
}
main>.last>ul>li>a>img{
    width: 90%;
    height:90%;
}
main>.last>ul>li>a>img:hover{
    opacity: 0.6;
}

/*footer*/
footer{
    height: 250px;
    width: 100%;
    background: white;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
footer>.left{
    width: 20%;
    height: 50%;
    margin-left: 20%;
}
footer>.left>img{
    width: 50px;
    height: 50px;
}
footer>.right{
    width: 40%;
    height:90%;
}
footer>.right>h3{
    font-size: 24px;
}
footer>.right>.id{
    margin-top: 5px;
}
footer>.right>.id>div{
    margin-top: 5px;
}
footer>.right>.id>div>span{
    font-size: 20px;
    cursor: default;
}
footer>.right>.id>div>input{
    line-height: 18px;
    text-indent: 0.5em;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 10px;
    margin: 10px 0;
    background: rgba(12, 12, 12, 0.8);
}
footer>.right>.id>.btn{
    margin-top: 10px;
}
footer>.right>.id>.btn>input{
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    border:#333333;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;

}