@{
    ViewBag.Title = "忘记密码确认";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            请查看你的电子邮件以重置密码。
        </p>
    </div>
</main>
