<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Relationship.css" />
</head>
<body>
    <div>
        @RenderBody()
        <script src="~/Scripts/js02.js"></script>
    </div>
</body>
</html>
